.weather-app {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/25/62/367/anime-sailor-moon-gameboy-hd-wallpaper-preview.jpg");
  background-size: auto;
  max-width: 800px;
  max-height: fit-content;
  border-radius: 20px;
  margin: 30px auto;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 5px;
}

h1 {
  font-family: didot;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0px;
  padding: 30px;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 800px;
  max-height: fit-content;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.d-flex weather-temperature img {
  margin-right: 5px;
  height: 60px;
  width: 60px;
}

#temperature {
  font-size: 34px;
  font-weight: 400px;
  line-height: 1;
}

#icon {
  position: relative;
  font-size: 16px;
  top: auto;
}

.units {
  position: relative;
  font-size: 16px;
  top: -13px;
}

#linkedin {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-size: 10px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}
