h1 {
  font-family: didot;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0px;
  padding: 30px;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #000;
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.d-flex weather-temperature img {
  margin-right: 5px;
  height: 60px;
  width: 60px;
}

#temperature {
  font-size: 34px;
  font-weight: 400px;
  line-height: 1;
}

#icon {
  position: relative;
  font-size: 16px;
  top: -13px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -5px;
}

.footer {
  display: inline-block;
}
